
<div class="row">

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div routerLink="/admin/pedidos/pendientes" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
            <div class="card-header">Administrar pedidos pendientes</div>
            <div class="card-body">
              <p class="card-text">Modulo para administrar los pedidos pendientes</p>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Entrar</button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div routerLink="/admin/pedidos/entregados" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
          <div class="card-header">Consular pedidos entregados</div>
          <div class="card-body">
            <p class="card-text">visualizar pedidos entregados</p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary">Entrar</button>
            </div>
          </div>
        </div>
  </div>

</div>