
<div class="row">

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div routerLink="/admin/usuarios/repartidores/crear" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
            <div class="card-header">Crear repartidor</div>
            <div class="card-body">
              <p class="card-text">Cree un repartidor</p>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Entrar</button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div routerLink="/admin/usuarios/repartidores/mostrar" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
          <div class="card-header">Mostrar los repartidores</div>
          <div class="card-body">
            <p class="card-text">Visualzar todos los respartidores</p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary">Entrar</button>
            </div>
          </div>
        </div>
  </div>

</div>