
<div class="row">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 50rem;">
            <div class="card-header">Realizar un pedido</div>
            <div class="card-body">
             
                <form [formGroup]="formularioPedido" (submit)="onSubmit()">
                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label for="inputNombre">Nombre</label>
                        <input type="email" class="form-control" id="inputNombre" formControlName="inputNombre">
                      </div>

                      <div class="form-group col-md-6">
                        <label for="inputTelefono">Telefono</label>
                        <input type="text" class="form-control" id="inputTelefono" formControlName="inputTelefono">
                      </div>

                    </div>

                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label for="inputDireccion">Direccion</label>
                        <input type="email" class="form-control" id="inputDireccion" formControlName="inputDireccion">
                      </div>

                    </div>

                    <div class="form-row">
                      <div class="form-group col-12">
                        <label for="inputPedido">Que es lo que necesita?</label>
                        <textarea maxlength="999" class="form-control" id="inputPedido" rows="5" formControlName="inputPedido"></textarea>
                      </div>
                    </div>
                    
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Realizar pedido</button>
                    </div>

                  </form>
                
            </div>
          </div>
    </div>