
<div class="row">

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div routerLink="/admin/usuarios/repartidores" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
            <div class="card-header">Repartidores</div>
            <div class="card-body">
              <p class="card-text">Modulo para administrar los Repartidores</p>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Entrar</button>
              </div>
            </div>
          </div>
    </div>

    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div routerLink="/admin/usuarios" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
          <div class="card-header">Usuarios</div>
          <div class="card-body">
            <p class="card-text">Modulo para la administrar los usuarios</p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary">Entrar</button>
            </div>
          </div>
        </div>
  </div> -->

</div>