<!-- <p>pedidos-admin-entregados works!</p> -->
<h4>Pedidos entregados</h4>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modalDatosFiltro">
    Filtrar <i class="fas fa-search"></i>
  </button>

  <div class="row">

    <ul class="list-group mr-auto ml-auto" style="width: 23rem;">
        <li class="list-group-item">
            Pedidos Pendientes
        </li>
        <li *ngFor="let pedido of listaDePedidos" class="list-group-item">
            <div class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="width: 100%;">
                <div class="card-header">Pedido #{{pedido.fila_numero}}</div>
                <div class="card-body">
                    <p class="card-text">Cliente: {{pedido.nombre_cliente}}</p>
                    <p class="card-text">Destino: {{pedido.direccion_cliente}}</p>
                    <p class="card-text">Telefono: {{pedido.telefono_cliente}}</p>
                    <p class="card-text">Estado: {{pedido.estado_pedido}}</p>
                    <p class="card-text">Creado: {{formatearFecha(pedido.onCreated)}}</p>
  
                    <div class="d-flex justify-content-between mb-2">
                        <button class="btn btn-primary " (click)="abrirCollapse(pedido.fila_numero)">Detalles</button>
                    </div>
  
  
                    <div class="collapse" id="pedido{{pedido.fila_numero}}">
                        <div class="card card-body text-secondary">
                            <div class="form-group">
                                <textarea class="form-control" rows="6"
                                    style="background-color: white; border-color: white;"
                                    readonly>{{pedido.pedido}}</textarea>
                            </div>
                        </div>
                    </div>
  
                </div>
            </div>
        </li>
  
    </ul>
  
  
  </div>



  
  <!-- Modal -->
  <div class="modal fade" id="modalDatosFiltro" tabindex="-1" role="dialog" aria-labelledby="modalDatosFiltroLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDatosFiltroLabel">Filtrar pedido</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="form-group">
                <label for="listaRepartidores">Repartidores</label>
                <select class="form-control" id="listaRepartidores" [formControl]="inputRepartidor">
                  <option value="" selected disabled hidden>Elija un repartidor</option>
                  <option *ngFor="let repartidor of listaDeRepartidores" value="{{repartidor.id}}">{{repartidor.nombre}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="inputFechaDesde">Desde:</label>
                <input type="date" class="form-control" id="inputFechaDesde" [formControl]="inputFechaDesde">
              </div>

              <div class="form-group">
                <label for="inputFechaHasta">Hasta:</label>
                <input type="date" class="form-control" id="inputFechaHasta" [formControl]="inputFechaHasta">
              </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="filtrarPedidos()">Filtrar <i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>