<!-- <h3>pagina principal</h3>
<br> -->
<div class="row">

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div routerLink="/generar-pedido" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
            <div class="card-header">Realizar un pedido</div>
            <div class="card-body">
              <!-- <h5 class="card-title">Secondary card title</h5> -->
              <p class="card-text">Realize un pedido en este apartado</p>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Entrar</button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div routerLink="/consultar-pedidos" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
          <div class="card-header">Consular pedidos</div>
          <div class="card-body">
            <!-- <h5 class="card-title">Secondary card title</h5> -->
            <p class="card-text">Aqui puede visualizar el estado de su pedido</p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary">Entrar</button>
            </div>
          </div>
        </div>
  </div>

</div>