
<div class="row">

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div routerLink="/consultar-pedidos/pendientes" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
            <div class="card-header">Pedidos pendientes</div>
            <div class="card-body">
              <p class="card-text">Consulta el estado de tus pedidos que aún no haz recibido</p>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Entrar</button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div routerLink="/consultar-pedidos/revisados" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
            <div class="card-header">Pedidos Revisados</div>
            <div class="card-body">
              <p class="card-text">Entra aqui para aceptar o rechazar el precio del pedido que realizaste</p>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Entrar</button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div routerLink="/consultar-pedidos/aceptados" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
          <div class="card-header">Pedidos Aceptados</div>
          <div class="card-body">
            <p class="card-text">Aqui podra visualizar los pedidos que usted acepto y que pronto llegaran hasta su casa</p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary">Entrar</button>
            </div>
          </div>
        </div>
  </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div routerLink="/consultar-pedidos/entregados" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
          <div class="card-header">Pedidos Entregados</div>
          <div class="card-body">
            <p class="card-text">Aqui veras todos los pedidos que se le han entregado</p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary">Entrar</button>
            </div>
          </div>
        </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-4">
    <div routerLink="/consultar-pedidos/rechazados" class="card text-white bg-secondary mb-3 mr-auto ml-auto" style="max-width: 18rem;">
        <div class="card-header">Pedidos Rechazados</div>
        <div class="card-body">
          <p class="card-text">Aqui veras todos los pedidos que se han rechazado por algun motivo</p>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary">Entrar</button>
          </div>
        </div>
      </div>
</div>


</div>