<div class="row">

  <div class="col-12 col-sm-6 col-md-4 col-lg-4">
    <div routerLink="/repartidor/consultar-pedidos/pendientes" class="card text-white bg-secondary mb-3 mr-auto ml-auto"
      style="max-width: 18rem;">
      <div class="card-header">Ver pedidos pendientes</div>
      <div class="card-body">
        <p class="card-text">Visualizar los pedidos asignados</p>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary">Entrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-4">
    <div routerLink="/repartidor/consultar-pedidos/encamino" class="card text-white bg-secondary mb-3 mr-auto ml-auto"
      style="max-width: 18rem;">
      <div class="card-header">Ver pedidos en ruta</div>
      <div class="card-body">
        <p class="card-text">Visualizar los pedidos que usted tiene en ruta, por lo general se recomienda mantener un solo pedido aqui.</p>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary">Entrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-4">
    <div routerLink="/repartidor/consultar-pedidos/entregados" class="card text-white bg-secondary mb-3 mr-auto ml-auto"
      style="max-width: 18rem;">
      <div class="card-header">Ver los pedidos entregados</div>
      <div class="card-body">
        <p class="card-text">Visualizar los pedidos entregados</p>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary">Entrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-4">
    <div routerLink="/repartidor/consultar-pedidos/rechazados" class="card text-white bg-secondary mb-3 mr-auto ml-auto"
      style="max-width: 18rem;">
      <div class="card-header">Ver los pedidos rechazados</div>
      <div class="card-body">
        <p class="card-text">Visualizar los pedidos rechazados</p>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary">Entrar</button>
        </div>
      </div>
    </div>
  </div>

</div>